{% extends 'polls/base_site.html' %}
{% block title %}首页{% endblock %}
{% block content %}
    <div class="text-center">
        <h3>欢迎使用在线投票系统</h3>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h4>以下为最新问卷调查问题，请点击你感兴趣的问题进行投票。</h4>
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% empty %}
                    <p>No polls are available.</p>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
{% block backToHome %}{% endblock backToHome %}